<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    
    <link rel="stylesheet" href="{% static "pack/css/style.css" %}" type="text/css" media="all" />
  </head>
  <body>
    <h1 class="head">welcome color </h1>
    <div class="info" id="info"></div>
    <div class="outer clickable">
      
    </div>
    <script src="{% static "pack/js/script.js" %}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>